In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from wordcloud import WordCloud
import re
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_squared_error

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import euclidean_distances

import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn import tree
#from catboost import CatBoostRegressor
#!pip install catboost

In [9]:
#ESTO NO LO EJECUTEN SI UTILIZAN UNA VERSION DE PC , YO LO HAGO PARA PODER USAR EL TRAIN DE MI DRIVE,Y USAR EL GITHUB ONLINE
# Import PyDrive and associated libraries.
# This only needs to be done once per notebook.
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
# This only needs to be done once per notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [10]:
# Download a file based on its file ID.
#
# A file ID looks like: laggVyWshwcyP6kEI-y_W3P8D26sz
file_id = '1PFclWqu_bzIwLYdV12S3d8pS5XenxPeG'
downloaded = drive.CreateFile({'id': file_id})
downloaded.GetContentFile('train.csv')

In [11]:
# Download a file based on its file ID.
#
# A file ID looks like: laggVyWshwcyP6kEI-y_W3P8D26sz
test_id = '1uPd0roB5CyXnjXHm3R_0QqKcoaCZyrpX'
downloaded = drive.CreateFile({'id': test_id})
downloaded.GetContentFile('test.csv')

In [12]:
data = pd.read_csv('train.csv')
test= pd.read_csv('test.csv')
data2=pd.read_csv('train.csv')

In [6]:

# Download a file based on its file ID.
#
# A file ID looks like: laggVyWshwcyP6kEI-y_W3P8D26sz
test_id = '18Ab39T1hPgTBv58oXdVk0NfBE36Fp21D'
downloaded = drive.CreateFile({'id': test_id})
downloaded.GetContentFile('test_3.csv')

In [7]:
#esta linea se cambia para cuando formamos el test, sino lo comentamos para
#que forme el train
#data=test

# funciones a usar

In [ ]:
#unificamos locationes

In [ ]:
#hallamos paises and ciudades en los tweet
def find_location(tweet):
    
    for location in locations_list:
        if str(location) in tweet:
            return str(location)
    return 'not_location'

In [13]:
import nltk
nltk.download('stopwords') 
nltk.download('punkt')
nltk.download('wordnet')
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer

  #FUNCIONES UTILES

def only_letters(tweet):
      tweet = re.sub(r'http\S*', '', tweet)
      tweet = re.sub(r'[^a-z\s]', '', tweet)
      return tweet

stop_words=set(stopwords.words("english"))

def filter_stopwords(tokenized_text):
      filtered_words=[]
      for w in tokenized_text:
          if w not in stop_words:
              filtered_words.append(w)
      return filtered_words

lemmatizer = WordNetLemmatizer()

def lemmatize_tweet(tweet):
      lemmatized_words = []
      for word in tweet:
          lemmatized_words.append(lemmatizer.lemmatize(word))
      return lemmatized_words

def transform_to_text(tweet_words):
      return " ".join(tweet_words)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [14]:
#limpiando el texto

def clean_text(train):

  import nltk
  nltk.download('stopwords') 
  nltk.download('punkt')
  nltk.download('wordnet')
  from nltk.tokenize import word_tokenize
  from nltk.corpus import stopwords
  from nltk.stem.wordnet import WordNetLemmatizer

  #FUNCIONES UTILES

  def only_letters(tweet):
      tweet = re.sub(r'http\S*', '', tweet)
      tweet = re.sub(r'[^a-z\s]', '', tweet)
      return tweet

  stop_words=set(stopwords.words("english"))

  def filter_stopwords(tokenized_text):
      filtered_words=[]
      for w in tokenized_text:
          if w not in stop_words:
              filtered_words.append(w)
      return filtered_words

  lemmatizer = WordNetLemmatizer()

  def lemmatize_tweet(tweet):
      lemmatized_words = []
      for word in tweet:
          lemmatized_words.append(lemmatizer.lemmatize(word))
      return lemmatized_words

  def transform_to_text(tweet_words):
      return " ".join(tweet_words)

  #Cleaning text

  train['clean_text'] = train['text'].str.lower()

  train['clean_text'] = train['clean_text'].apply(only_letters)    

  #Tokenización

  train['clean_text'] = train['clean_text'].apply(word_tokenize)

  #Remove stopwords

  train['clean_text'] = train['clean_text'].apply(filter_stopwords) 

  #Lemmatization                                                                       

  train['clean_text'] = train['clean_text'].apply(lemmatize_tweet)  

  train['clean_text'] = train['clean_text'].apply(transform_to_text)

In [ ]:
#descubriendo nuevos features

In [15]:
data.head(3)

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1

[3 rows x 5 columns]

In [16]:
data.groupby('location').agg(cantidad=('location','count')).nlargest(30,'cantidad')[:50]

                  cantidad
location
USA                    104
New York                71
United States           50
London                  45
Canada                  29
Nigeria                 28
UK                      27
Los Angeles, CA         26
India                   24
Mumbai                  22
Washington, DC          21
Kenya                   20
Worldwide               19
Australia               18
Chicago, IL             18
California              17
California, USA         15
Everywhere              15
New York, NY            15
Florida                 14
San Francisco           14
United Kingdom          14
Indonesia               13
Los Angeles             13
Washington, D.C.        13
Ireland                 12
NYC                     12
Toronto                 12
Chicago                 11
Earth                   11

In [ ]:
#ahora vimos arriba que por lo menos las primeras 50 son relevantes osea mayor a 10 tweet, 
#seguramente dentro de location debe haber las mismas ciudades/paises escritos de otra forma
#unificamos con esos 50 de arriba

In [17]:
def unificar_cuidades_paies(data2):
      data2.loc[data2['location'].str.contains('(?i)flori')==True,'location' ]='Florida'
      data2.loc[data2['location'].str.contains('(?i)florida')==True,'location' ]='Florida'
      data2.loc[data2['location'].str.contains('(?i), fl')==True,'location' ]='Florida'
      data2.loc[data2['location'].str.contains('(?i)toronto')==True,'location' ]='toronto'
      data2.loc[data2['location'].str.contains('(?i)carolina')==True,'location' ]='carolina'
      data2.loc[data2['location'].str.contains('(?i)colorado')==True,'location' ]='colorado'
      data2.loc[data2['location'].str.contains('(?i)ny')==True,'location' ]='New York, NY'
      data2.loc[data2['location'].str.contains('(?i)new yo')==True,'location' ]='New York, NY'
      data2.loc[data2['location'].str.contains('(?i)california')==True,'location' ]='California'
      data2.loc[data2['location'].str.contains('(?i), pa')==True,'location' ]='Philadelphia'
      data2.loc[data2['location'].str.contains('(?i),phila')==True,'location' ]='Philadelphia'
      data2.loc[data2['location'].str.contains('(?i),phili')==True,'location' ]='Philippines'  
      data2.loc[data2['location'].str.contains('(?i)Massa')==True,'location' ]='Massachusetts'
      data2.loc[data2['location'].str.contains('(?i)Michi')==True,'location' ]='Michigan'
      data2.loc[data2['location'].str.contains('(?i)Ariz')==True,'location' ]='Arizona'  
      data2.loc[data2['location'].str.contains('(?i), nc')==True,'location' ]='New Jersey'
      data2.loc[data2['location'].str.contains('(?i)jerse')==True,'location' ]='New Jersey'  
      data2.loc[data2['location'].str.contains('(?i)canad')==True,'location' ]='Canada'
      data2.loc[data2['location'].str.contains('(?i)niger')==True,'location' ]='Nigeria'
      data2.loc[data2['location'].str.contains('(?i)indi')==True,'location' ]='India'
      data2.loc[data2['location'].str.contains('(?i)flori')==True,'location' ]='Florida'
      data2.loc[data2['location'].str.contains('(?i)london')==True,'location' ]='Florida'
      data2.loc[data2['location'].str.contains('USA')==True,'location' ]='USA'   
      data2.loc[data2['location'].str.contains('United States')==True,'location' ]='USA'

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [19]:
#ahi seleccionamos, ahora aplicamos
unificar_cuidades_paies(data)

In [20]:
#vemos que aumento su cantidad respecto al anterior de las localitaciones
data.groupby('location').agg(cantidad=('location','count')).nlargest(30,'cantidad')[:5]

              cantidad
location
New York, NY       295
USA                265
Florida            204
Canada              84
California          82

In [ ]:
#ahora la idea es agarrar las localitaciones que no utilizamos en 
# nuestras primer analisis y splitearlo en n-gramas
#y luego ordenarlo de mayor a menor frecuencia

In [21]:
#datashit=data[data['location'].notnull()]
sacar_columnas_usuales=data.groupby('location').agg(cantidad=('location','count')).nlargest(30,'cantidad')[:50]

In [22]:
sacar_columnas_usuales=list(sacar_columnas_usuales.index)

In [23]:
sacar_columnas_usuales[:3]

['New York, NY', 'USA', 'Florida']

In [24]:
#filtramos las locaciones que ya utilizamos
data_find_new_location=data[data['location'].notnull()]

data_find_new_location=data_find_new_location[data_find_new_location['location'].isin(sacar_columnas_usuales)==False]

In [25]:
data_find_new_location.head(3)

    id keyword  ...                                               text target
31  48  ablaze  ...  @bbcmtd Wholesale Markets ablaze http://t.co/l...      1
32  49  ablaze  ...  We always try to bring the heavy. #metal #RT h...      0
33  50  ablaze  ...  #AFRICANBAZE: Breaking news:Nigeria flag set a...      1

[3 rows x 5 columns]

In [ ]:
#guardo todas esas locaciones en una lista para filtrarla y sacarle stop word

In [26]:
locacionesx=list(data_find_new_location['location'])
texto=''
for loca in locacionesx:
  texto= texto + ' ' + loca
texto

" Birmingham Est. September 2012 - Bristol AFRICA Pretoria World Wide!! Paranaque City Live On Webcam milky way Live On Webcam England. Sheffield Township, Ohio Barbados Anaheim Abuja South Africa Sao Paulo, Brazil hollywoodland  Edmonton, Alberta - Treaty 6 Inang Pamantasan Twitter Lockout in progress Concord, CA Calgary, AB Birmingham CLVLND Nashville, TN Santa Clara, CA St. Louis, MO Walker County, Alabama San Mateo County, CA Your Sister's Bedroom Arlington, TX South Bloomfield, OH Maldives Manchester, NH global Alberta | Sask. | Montana Charlotte Baton Rouge, LA Hagerstown, MD Gloucestershire , UK Instagram - @heyimginog  304 Switzerland 304 US 304 Instagram - @heyimginog  304 Somewhere Only We Know ? Belgium Switzerland US dope show Switzerland Switzerland Baker City Oregon 304 304 marysville ca  304 Hermosa Beach, CA 304 304 19.600858, -99.047821 Pennsylvania Salt Lake City, Utah Palo Alto, CA Eagle Pass, Texas bangalore Financial News and Views y(our) boyfriends legs  Somewhere Out There sri lanka Not a U.S resident Thrissur Havenford 92 Israel Fashion Heaven. IG: TMId_ San Francisco, CA italy Jackson New Orleans, LA West Wales Happily Married with 2 kids  Cambridge, MA Arizona Amsterdam Swindon,England  Happily Married with 2 kids  Williamstown, VT Karachi Happily Married with 2 kids  Happily Married with 2 kids  || c h i c a g o || L. A. VISIT MY YOUTUBE CHANNEL. Lexington Playa Higher Places Horsemind, MI Boksburg V-RP @OZRP_ ?MV, AU, R18+? Greater Manchester, UK Boston The Canopy Kingdom the own zone layer  Trancy Manor South 37 West Lancashire, UK. PA \x89Û¢ Views From The Six \x89Û¢ Swaning Around Wild Wild Web Subconscious LA Spain CA physically- Boston Strong? Yeezy Taught Me , NV CA physically- Boston Strong? Rock Hill, SC Coolidge, AZ Republic of Texas Phoenix, AZ Ljubljana, Slovenia Connecticut Tacoma,Washington Subconscious LA BIG D  HOUSTON/BOSTON/DENVER Chandler, AZ sindria Texas Texas The Shire Austin, TX Oakland Albuquerque Buenos Aires, Argentina San Antonio-ish, TX Harlingen, TX Las Vegas Tokyo #FLIGHTCITY UK   Alphen aan den Rijn, Holland Wrigley Field probably the strip club England Here And There Rotterdam, Zuid-Holland Derry, 17  Nowhere. Everywhere. Nowhere. Everywhere. East Coast The Orwellion police-state Castaic, CA Helsinki, Finland East Kilbride #FLIGHTCITY UK   middle eastern palace Kent Nowhere. Everywhere. #FLIGHTCITY UK   Perthshire  twitch.tv/naturalemblem26 cyprus Memphis, TN Studio Hollywood, CA Pakistan Mexico! ^_^ Campinas Sp Burbank,CA ?  Spokane, Washington Our Empire State Jerusalem Kingston, Pennsylvania Milwaukee, WI Zero Branco Republic of Texas bajaur \x89ÛÊ\x89ÛÊ\x89ÛÊ Jerusalem Miami,FL North-East Region, Singapore EARTH  Jerusalem, Israel Menasha, WI ss Atlanta ss Bleak House heccfidmss@gmail.com ss [ Blonde Bi Fry. ] America SF Bay Area ss ss Adelaide, South Australia ss WASHINGTON,DC ss  snapchat // fvck_casper  ss ss ss Dallas, TX Location Selena | Britney | Hilary Dubai Tucson, Az Seattle WA Bellevue NE West Bank, Gaza Strip \x89Û¢FLG\x89Û¢ Scotland, United Kingdom Online 24/7. Not even kidding. rowyso dallas  Halton, Ontario portland, oregon FIMAK A.S Ist Bolge Muduru #UNITE THE BLUE   Dayton, Ohio Global ph City Of Joy 1/3 of the blam squad  CCH  atx MAURITIUS Peshawar San Francisco, CA #GDJB #ASOT Groningen, Netherlands, Europe Livingston, IL  U.S.A. Arundel  America israel ?????????????????? SÌ£o Paulo SP,  Brasil in Dimitri's arms Oslo, Norway Loughton, Essex, UK guaravitas Score More Goals Buying @ Score Team Goals Buying @ South Central Wales Denver, CO Brasil Buy Give Me My Money  505 W. Maple, Suite 100 Buy Give Me My Money  Buy Give Me My Money  Philippines Freeport il  World Danville, VA UK Great Britain  Jerusalem! San Jose, CA Dallas, TX Baton Rouge, LA Use #TMW in tweets get #RT Utah Wisconsin West Richland, WA CHICAGO (312) Washington D.C. NC British girl in Texas Silver Spring, MD Phoenix, AZ Atlanta, GA Wilmington, DE Memphis iTunes Oxford, MS US Atlanta, GA Pelham, AL Atlanta, GA Arkansas, Jonesboro Across the Atlantic Over the Moon... Extraterrestrial Highway Espoo, Finland Washington, D.C., area OES 4th Point. sisSTAR & TI Sydney, New South Wales San Francisco, CA Netherlands,Amsterdam-Virtual  timeline kamu Budapest, Hungary Searching for Bae  Sydney, New South Wales Eagle Mountain, Texas  Columbus Temecula, CA Atlanta,Ga Fresno, CA ducked off . . .  Rio de Janeiro 302 Columbus, OH PA Mo.City Tripsburg, ms. Durham N.C  Delhi Arizona Karachi  seattle wa Mo.City Gotham City My contac 27B80F7E 08170156520 Dallas, TX Pig Symbol, Alabama Intramuros, Manila THE WORLD T.G.G / M.M.M  Between the worlds  State of Georgia Your screen Lima-Peru worldwide Saltillo, Coahuila de Zaragoza Suitland Konoha Swag Francisco Saint Marys, GA Essex/Brighton Rockford, IL AZ IN In the middle of no where Baltimore, MD dmv ?? fashion school @ KSU.  Nice places  Quantico, VA Island Lake, IL Live Oak, TX Gages Lake, IL Madisonville TN AEP Alberta Pack #expelcl*y My heart is a ghost town! The Great State of Texas Alicante, Valencia Atlanta the local dump Seattle #SOUTHAMPTON ENGLAND ?205?478? Waterford MI va H / pez & sophia  Vancouver, BC. wherever the $$$ at Calgary, Alberta Kama | 18 | France  Sydney Daruka (near Tamworth) NSW IJmuiden, The Netherlands University Heights, Ohio Central Illinois Baton Rouge PSN: Pipbois  Colombo,Sri Lanka. Johannesburg, South Africa  Me mammy's belly UK & Ibiza Laventillemoorings  Scotland Vancouver, BC Cleveland, OH Kama | 18 | France  Kama | 18 | France  Waterfront columbus ohio Waukesha, WI Sydney Himalayan Mountains Houston,  TX THE 6IX The ?? below ??? Ideally under a big tree Conversing In Janet's CafÌ¬ ???????, ??'?????? Dime's Palace Cairo, Egypt Seattle, WA Bug Forest canberra International The World Htx PunPunlÌ¢ndia ??? Itirapina, SÌ£o Paulo Ewa Beach, HI Biloxi, Mississippi Buenos Aires Brecksville, OH Malaysia Ivano-Frankivsk Sunshine Coast, Queensland Dime's Palace England,UK,Europe,Sol 3. Nashua NH Leicester 65 Westchester Lynnfield, MA Level 3 Garrison, Sector G Singapore Adelaide, South Australia Las Vegas Glasgow Shity land of Northern Ireland Singapore Christchurch New Zealand PH Storybrooke  under the blanket Isolated City In World Perth Brazil  AUS Santa Cruz, CA Inverness, Nova Scotia L/S/Z/L/T/H/C/H/R/A/S/C Oklahoma 801 SL,UT fluffy cloud The 5th Dimension.  Georgia July 11th, 2015. ? The Grey Area St Paul, MN Cobblestone ÌÏT: 30.307558,-81.403118 Scotland Cosmic Oneness Guildford, UK Nowhere Islands/Smash Manor kisumu Making Worldwide Change Near U ATX LA/OC/Vegas Grimsby, England Gotham Manchester, The World, England sitting on Eddie Vedders lap, US Greenville,SC Paignton Paignton Paignton Paignton have car; will travel Sydney, New South Wales ATL ? SEA  ÌÏT: 39.982988,-75.261624 #EngleWood CHICAGO  302???? 815 Texas PURPLE BOOTH STUDIO\x89ã¢ Cloud 9 Former Yugoslav Republic of Macedonia 3?3?7?SLOPelousas??2?2?5? 316 Global #WhereverI'mAt Huber Heights, OH Miami ?? Houston, TX Every where Arizona 401 livin' MI EPTX Austin, Texas Oklahoma City CA WESTSIDE OF PHILLY 7? BLOCK?? CA Wisconsin Charlotte NC washington, d.c. WAISTDEEP, TX Swaning Around D.C. - Baltimore - Annapolis #937??#734 Fife, WA Bushkill pa In the Shadows... southwest, Tx Menlo Park. SFO. The World. Speaking the Truth in Love Aarhus, Central Jutland Lincoln, NE Bolton & Tewkesbury, UK travelling to tae's pants keli x Manchester Knoxville, TN ChicagoRObotz whs '17 NV Edmonton, Alberta [Gia.] | #KardashianEmpire Sunrise Manor, NV Oxford, OH Odawara, Japan Des Moines, IA Dundas, Ontario IDN Netherlands Tokyo Old Blighty ?? Atlanta Georgia MY RTs ARE NOT ENDORSEMENTS Kabul, Tuebingen, Innsbruck Light and dark, form and void Erbil Stockton on tees Teesside UK Screwston, TX My old New England home melbourne Cape Town Warwick, RI @Dollarocracy also texas a&m university MA Shipwreck Cove Sydney, Australia WorldWide Overland Park, KS SWMO Puerto Rico Silicon Valley Singapore VitÌ_ria (ES) New Delhi, Delhi Buscame EL tu Melte Wiltshire Leicester Pittsburgh PA Boston MUM-DEL Leeds, England US Playa del Carmen, Mexico Leicester Mackay, QLD, Australia Quincy MA NJ Madison, GA KurveZ@GearHeadCentral.net St Charles, MD Ziam af  GO BLUE! HAIL YES!! Outside The Matrix, I Think. In Hell Epic City, BB. somewhere over a rainbow Selma2Oakland Bombardment Bay Savannah, GA dallas New Orleans ,Louisiana England, United Kingdom Dublin City, Ireland Leeds, England New Hampshire World Wide Intermountain West World Wide New Hampshire Manchester, NH Tulsa, Oklahoma Auburn, AL taken by piper curda Scotland  Sweden Groton, CT Brisbane Australia Peoria Reading UK Concord, NH  CORNFIELDS Worcester, MA Roanoke, VA nj MA via PA Boston, MA World Wide New Hampshire Oklahoma City, OK San Diego CA  Nxgerxa Belleville, Illinois Alabama Oakland, CA 956 Escondido, CA DC Chicago Area Cherry Creek Denver CO 627 Blogland mumbai Isle of Man Hampton Roads, VA Gameday Earthling (For now!) Caracas, Venezuela. Charlottetown Paradise, NV ??t?a LiÌ¬ge Spokane, Washington 99206 taco bell Australian Capital Territory http://www.amazon.com/dp/B00HR [ kate + they/them + infp-t ] Sacramento, CA Mackay, QLD, Australia St Charles, MD please H? ?:?? we?it \x89Û¢ ixwin Santiago Bernabeau y/e/l NJ Whiterun, Skyrim New Orleans ,Louisiana Seattle, WA Greenpoint, Brooklyn dallas Oklahoma City, OK Victoria, British Columbia a botanical garden probably Madison, GA Nelspruit, South Africa midwest Copenhagen, Capital Region of Denmark In Hell Spying on your thoughts seattle grace mercy death Selma2Oakland Arizona Epic City, BB. Head Office: United Kingdom Mid north coast of NSW iPhone: -27.499212,153.011072 Queen Creek AZ Jamaica Trinidad and Tobago Melbourne Australia Canberra, Australian Capital Territory beacon hills  somewhere outside Wolmers Trust School for Boys  Loughborough. Sydney, Australia Selangor Philippines Phoenix, AZ Le Moyne '16 Heinz Field  Skyport de la Rosa The Low-Cal Calzone Zone US 50% Queanbeyan - 50% Sydney Insula Barataria everywhere  Inglewood, CA Absecon, NJ Mostly Yuin. Nairobi Rochelle, GA south of heaven  El Dorado, KS Santa Monica, CA Toledo, OH Virginia LIVERPOOL Boulder, CO Hospital, bc of SKH vid. In @4SkinChan 's arms Seattle Kansas City, MO Wellington, New Zealand ?? ?? los angeles, ca New Brunswick, NJ City of Angels, CA Morganville, Texas. America | New Zealand  Denver, CO Stockholm, Sweden Azeroth Lytham St Anne's  Ylisse Wisconsin Portugal All around the world baby @UntmdOutdoors #T.O.R.K  Lima, PerÌ¼ Buxton, Venice, and Nottingham Quito, Ecuador. Inexpressible Island  San Jose, CA  Bouvet Island Planet Earth Inexpressible Island  Planet Earth Portland, OR Dublin, Ireland Planet Earth Lurking Leeds, England N?? Y???. Center for Domestic Preparedness Ukraine and Ireland Welt Wales http://www.amazon.com/dp/B00HR Seattle, Washington Beaumont, TX Annapolis, MD Las Vegas, Nevada Seattle, Washington Harris County, Texas Tyler, TX Evanston, IL North Ferriby, East Yorkshire Colombia Seattle, Washington Evanston, IL Ames, Iowa Seattle, Washington Moscow, Russia Mankato, MN Orbost, Victoria, Australia  Somewhere.  Neverland  At Da Laundry Mat Wit Nivea  norway $ad $hawty BestCoast BC Colchester Essex  livin life in the 610 Suplex City Inside your mind. 36 & 38 Sydney Australia Slappin and Smackin  DRAW A CIRCLE THAT'S THE EARTH Madrid, Comunidad de Madrid The Netherlands Highland Park, CA Scotland Swan River Melrose Jubail IC, Saudi Arabia Location Sugarhouse, UT lugo Chicago, Illinois Blackpool, England, UK. Fakefams In the clouds... Sandton, South Africa #Bummerville otw Europe Brighton and Hove JKT48-Muse-A7X Behind The Obama Curtain Worldwide. LiVE MÌ\x81S Henderson, NV CAMARILLO, CA manchester, uk. Eugene, Oregon they/her Paris  Tokyo (he/him) Suplex City Victoria, British Columbia Kingston, Jamaica Spokane, WA I'm standing behind you Alexandria, Egypt. instagram- Chloe_Bellx on the web San Francisco Bay Area #ForeverWithBAP 8  GOT7SupportPH wherever-the-fuck washington Perth, Western Australia Live mÌÁs Melton, GA Greg's place Viejo Kansas, The Free State! ~ KC Silang, Cavite / ParaÌ±aque Fort Smith, AR Brasil planeta H2o www.youtube.com?Malkavius2 The Forever Girl EspÌ_rito Santo Maryland,Baltimore New Orleans, LA Vancouver, BC Houston, Texas Medford, NJ Austin, TX Malaysia Dallas, Texas.  Roanoke VA Unnamed City Peterborough, On -6.152261,106.775995 @protectingtitan's side. Oregon Eau Claire, Wisconsin St. Joseph, Minnesota From a torn up town MANCHESTER Waco TX Tennessee Pakistan bk.  Peterborough, Ont. Johannesburg, South Africa On the court  Cherry Creek Denver CO Traverse City, MI See the barn of bleakness Hertfordshire  ÌÏT: 41.252426,-96.072013 Greeley, CO 'soooota Sacramento Sacramento Arvada, CO Oregon Denver, CO Maryland Vancouver, Colombie-Britannique Irving , Texas Riverside, CA San Francisco, CA East Atlanta, Georgia Saint Lucia North Highlands, CA Vancouver 60th St (SS) San Francisco, CA Sacramento, CA Sacramento btwn a rock and a hard place Tennessee Aix-en-Provence, France Liverpool 21.462446,-158.022017 Cleveland, OH Melbourne, Australia Darlington   Melbourne, Australia Kenton, Ohio Galatians 2:20  Charleston, SC In my own world!!! San Francisco, CA Definitely NOT the stables Pakistan Cuernavaca, Morelos, MÌ©xico. Scotland Va Beach, Virginia 52.479722, 62.184971 The Pig Sty Bangor, Co.Down Weston super mare Victoria, Tx. Pakistan, Islamabad Lincoln, NE Lindenhurst Islamabad Somewhere too far Kingswinford i love the smurfs 2 International  Viterbo BFA Acting '18 Buenos Aires Kaneohe Houma La EastAtlanta ??#WestGeorgia'18 San Antonio, TX Cleveland, Ohio San Diego, Texas. GLOBAL 05/04/2014 18:23 ? Bolivar, MO taking pain like pleasure San Fransokyo Washington, DC NATIVE Utah honeymoon avenue 11/4/14 wherever there's netflix #HAMont U.K. ph online  Conroe, TX Guayaquil bahstun/porta reeko Rio Neverland Pennsylvania Trinidad & Tobago Chicago - Lake Buena Vista Liberty Lake, WA Ankara - Malatya - ad Orontem somewhere in cali  Garden Grove Adelaide, Australia BKI-KUA urÌ£nus A.A.S my Aztec Princess turner fenton KLA,Uganda Uganda 253 Elkhart, IN Adelaide, Australia Adelaide, Australia Pon Di Gully Benedict College HTX IM LOST  Miami Hamilton, ON Des Moines, Iowa  Rural Northern Nevada Republic of the Philippines Philippines  hyderabad Vancouver (HQ) and worldwide Quezon City, Philippines Geneva Hartford,  connecticut Sioux Falls, SD Cornwall Beside Basketball Rome, Italy Tafekop Ga-Matsepe Melbourne Vilnius Geneva Made in America PS4, now stop asking U.S My mind is my world Catskills Columbia, SC Right here Texas Lawrence, KS via Emporia, KS http://twitch.tv/jcmonkey Unknown Unknown Marysville, MI New Haven, Connecticut Austin | San Diego ??? ?? ???????  Pontevedra, Galicia Charlotte NC Rockville, Maryland Your Conversation Tennessee #LemonGang  ayr Loughborough, England Killarney Lahar & Gwalior St Paul, MN Atlanta Georgia  Lincoln, IL World Spinning through time. Atlanta Georgia  Boston, MA Hailing from Dayton  Newcastle Upon Tyne, England Atlanta Georgia  Atlanta Georgia  Instagram: trillrebel_ ALWAYS DYING NEVER RESTING San Jose, CA 2005 |-/ Israel Uruguay / Westeros / Gallifrey Kansas City, MO Silver Spring, MD Afghanistan Sweden Atmosphere Glasgow somewhere in Portugal South Stand dundalk ireland Sochi, KDA, RU ÌÏT: -26.695807,27.837865 South Stand You're not 19 forever    Kettering, OH Planet Earth Spare 'Oom Milton Keynes  ATL??AL?? UPTOWN  PROV Novi, MI Buenos Aires, Argentina on the go The UK mpls.  Kensington, MD Buffalo/DC Sylacauga, Alabama To The Right of You! Cyprus kansas Portland, OR Carry On Jutta!!! Home of the Takers. ?s????ss? a????? Alicante, Spain Mooseknuckle, Maine Palermo, Sicily AsunciÌ_n-PY / TÌ_bingen-GER Voorhees, NJ Atlanta, GA Planet Earth Wakanda Lagos Does it really matter! Your screen Phoenix, AZ Does it really matter! Edinburgh Weyburn UGA '15 Alumnus - Economics  Blackpool the void, U.S.A Tennessee/Gallifrey Amman, Jordan Blackpool Columbia Heights, MN Top Secret ÌÏT: 10.614817868480726,12.195582811791382 Top secret bunker  Belbroughton, England 772 Temperance Permenence 46.950109,7.439469 In the Shadows Campo Grande-MS nbc washington Seattle Dubai, United Arab Emirates Hong Kong IRAQ World news Hong Kong Hong Kong Bristol, UK labuan, malaysia right next to you www.tmgcgart.com Brisbane Melbourne-ish 617-BTOWN-BEATDOWN 518 Nottingham, England eARth 3 Enniscrone & Aughris, Sligo  Mostly Wellington, NZ  617-BTOWN-BEATDOWN Atlanta, Ga World Fort Fizz, Ohio Raleigh (Garner/Cleveland) NC Newcastle upon Tyne walking the tightrope Frascati College Station, TX Bishops Lydeard, England Up a hill Manchester Wellington #????? Libya# Newcastle Pakistan balvanera Aro Diaspora Washington D.C. ÌÏT: 0.0,0.0 Eastbourne England State of Dreaming Wema building Fruit Bowl South Africa Hooters on Peachtree Otsego, MI MAD as Hell ATL, GA us-east-1a RhodeIsland Napa, CA KOLKATA golborne, north west england. sweden ARBAILO Bagalkote Karnataka  Shrewsbury NJ Terre Haute, IN NH via Boston, MA Glasgow, Scotland QUEENS. ATL ?? ??????????? Beautiful British Columbia Newcastle Dublin, Ireland ???? Birmingham UK Medford, Oregon Catalonia, Spain Lisbon, Portugal MA Halifax, Nouvelle-Ìäcosse aggressive cannoli eater  11202 ?????? San Francisco, CA Atlantic, IA ÌÏT: 36.142163,-95.979189 Arthas US everywhere US-PR San Jose ÌøåÀå_T: 40.736324,-73.990062  Road to the Billionaires Club Washington, DC 20009  Road to the Billionaires Club Washington, Krasnodar (Russia)  Road to the Billionaires Club at my home District of Gentrification/ DC  Road to the Billionaires Club  Road to the Billionaires Club Washington, D.C.  U.S.A Nairobi #MadeInNorthumberland Jamshedpur, Jharkhand  Road to the Billionaires Club eritrean Dayton, OH Dorset, United Kingdom A small federal enclave Pune, mostly  The Desert of the Real Anchorage, AK Enterprise, Alabama US åø\\_(?)_/åø Washington DC / Nantes, France DC SEC Country L'Enfant Plaza Metro Station Durban, South Africa Alexandria, VA Arlington, VA and DC Headed To The Top Coimbatore Chicago, IL 60607 Chicagoland New Delhi Minneapolis,MN,US Chicago, IL  Chicago,Illinois ÌÏT: 33.209923,-87.545328 Lahti, Finland Here there and everywhere the insane asylum.  Oakland Macclesfield Boulder Temporary Towers Macclesfield Pueblo, CO the insane asylum.  Manchester Stockholm, Sweden Birmingham, UK Houston, Texas !  North East, England [marvel\x89Û¢dragon age\x89Û¢wicdiv] NBO St. Louis Mo. Birdland, New Meridian, FD Arizona Monterrey, MÌ©xico infj  on twitter 2B Hindhede Rd, Singapore Austin, TX Kalimantan Timur, Indonesia Prehistoric Earth san gabriel la union ?????? Manila, Philippines Middle Earth / Asgard / Berk Subconscious LA Singapore Quilmes , Arg Richmond, VA Istanbul Romania Chile ???????? ?????????. San Diego, CA Johannesburg  Japan Honduras Alvin, TX Wilbraham, MA The Citadel, Oldtown, Westeros New England he/him or she/her (ask) Some pum pum Paulton, England Norway Thailand SEA Server Pretoria todaysbigstock.com buenos aires argentina Surulere Lagos,Home Of Swagg MontrÌ©al, QuÌ©bec Montreal ÌÏT: 6.4682,3.18287 Live4Heed?? Waco, Texas BodÌü, Norge Boise, Idaho In my studio Cuttack, Orissa Patra-Greece. All Around the World Valle Del Sol Silesia, Poland Moscow Houston, TX Balikesir - Eskisehir Manchester, England Maldives ??????? ??????? ???????? Soul Somalia/Body Montreal Manchester, UK Yooooooo ÌÏT: 19.123127,72.825133 Morioh, Japan Milton/Tallahassee Paname City Morioh, Japan KÌ¦ln, Nordrhein-Westfalen Broomfield, CO Morioh, Japan Brasil,SP Memphis,TN/ World Wide Brasil Morioh, Japan In My Lab Creating  Bikini bottom back in japan ?????????? Morioh, Japan Northern Ireland San Diego, CA Morioh, Japan Sydney, Australia Bangkok Thailand Brisbane. Geneva Manchester PG Chillin! Manchester REPUBLICA DOMINICANA FOLLOWS YOU everywhere you go Birmingham -?s?s?j??s- Indonesia\n The Meadow Bournemouth Brum/Lestah  Dorset, UK Chester  Banbri

In [ ]:
#listo se limpio el texto

In [27]:
texto2=texto
texto2=only_letters(texto2) 
texto2=word_tokenize(texto2)
texto2=filter_stopwords(texto2)
texto2=lemmatize_tweet(texto2)
texto2=transform_to_text(texto2)
texto2

'irmingham st eptember ristol retoria orld ide aranaque ity ive n ebcam milky way ive n ebcam ngland heffield ownship hio arbados naheim buja outh frica ao aulo razil hollywoodland dmonton lberta reaty nang amantasan witter ockout progress oncord algary irmingham ashville anta lara ouis alker ounty labama ateo ounty isters edroom rlington outh loomfield aldives anchester global lberta ask ontana harlotte aton ouge agerstown loucestershire nstagram heyimginog witzerland nstagram heyimginog omewhere nly e elgium witzerland dope show witzerland witzerland aker ity regon marysville ca ermosa ennsylvania alt ake ity tah alo lto agle as exas bangalore inancial ew iews boyfriend leg omewhere ut sri lanka ot resident hrissur avenford srael ashion eaven rancisco italy ackson ew rleans est ale appily arried kid ambridge rizona msterdam windonngland appily arried kid illiamstown arachi appily arried kid appily arried kid c h c g exington laya igher lace orsemind oksburg reater anchester oston anopy ingdom zone layer rancy anor outh est ancashire iews rom ix waning round ild ild eb ubconscious pain physically oston trong eezy aught e physically oston trong ock ill oolidge epublic exas hoenix jubljana lovenia onnecticut acomaashington ubconscious handler sindria exas exas hire ustin akland lbuquerque uenos ire rgentina ntonioish arlingen egas okyo lphen aan den ijn olland rigley ield probably strip club ngland ere nd otterdam uidolland erry owhere verywhere owhere verywhere ast oast rwellion policestate astaic elsinki inland ast ilbride middle eastern palace ent owhere verywhere erthshire twitchtvnaturalemblem cyprus emphis tudio ollywood akistan exico ampinas p urbank pokane ashington ur mpire tate erusalem ingston ennsylvania ilwaukee ero ranco epublic exas bajaur erusalem iami orthast egion ingapore erusalem srael enasha s tlanta s leak ouse heccfidmssgmailcom s londe ry merica ay rea s s delaide outh ustralia s s snapchat fvckcasper s s s allas ocation elena ritney ilary ubai ucson z eattle ellevue est ank aza trip cotland nited ingdom nline ot even kidding rowyso dallas alton ntario portland oregon st olge uduru ayton hio lobal ph ity f oy blam squad atx eshawar rancisco roningen etherlands urope ivingston rundel merica israel aulo rasil imitris arm slo orway oughton ssex guaravitas core ore oals uying core eam oals uying outh entral ale enver rasil uy ive e oney aple uite uy ive e oney uy ive e oney hilippines reeport il orld anville reat ritain erusalem ose allas aton ouge se tweet get tah isconsin est ichland ashington ritish girl exas ilver pring hoenix tlanta ilmington emphis iunes xford tlanta elham tlanta rkansas onesboro cross tlantic ver oon xtraterrestrial ighway spoo inland ashington area th oint si ydney ew outh ale rancisco etherlandsmsterdamirtual timeline kamu udapest ungary earching ae ydney ew outh ale agle ountain exas olumbus emecula tlantaa resno ducked io de aneiro olumbus oity ripsburg m urham elhi rizona arachi seattle wa oity otham ity contac allas ig ymbol labama ntramuros anila etween world tate eorgia screen imaeru worldwide altillo oahuila de aragoza uitland onoha wag rancisco aint arys ssexrighton ockford n middle altimore dmv fashion school ice place uantico sland ake ive ak age ake adisonville lberta ack expelcly heart ghost town reat tate exas licante alencia tlanta local dump eattle aterford va pez sophia ancouver wherever algary lberta ama rance ydney aruka near amworth muiden etherlands niversity eight hio entral llinois aton ouge ipbois olombori anka ohannesburg outh frica e mammy belly biza aventillemoorings cotland ancouver leveland ama rance ama rance aterfront columbus ohio aukesha ydney imalayan ountains ouston deally big tree onversing n anets af imes alace airo gypt eattle ug orest canberra nternational orld tx ununlndia tirapina aulo wa iloxi ississippi uenos ire recksville alaysia vanorankivsk unshine oast ueensland imes alace nglanduropeol ashua eicester estchester ynnfield evel arrison ector ingapore delaide outh ustralia egas lasgow hity land orthern reland ingapore hristchurch ew ealand torybrooke blanket solated ity n orld erth razil anta ruz nverness ovum cotia klahoma fluffy cloud th imension eorgia uly th rey rea aul obblestone cotland osmic neness uildford owhere slandsmash anor kisumu aking orldwide hange ear egas rimsby ngland otham anchester orld ngland sitting ddie edders lap reenville aignton aignton aignton aignton car travel ydney ew outh ale ngleood exas loud ormer ugoslav epublic acedonia elousas lobal herevermt uber eight iami ouston rizona livin ustin exas klahoma ity isconsin harlotte washington dc waning round altimore nnapolis ife ushkill pa n hadows southwest x enlo ark orld peaking ruth ove arhus entral utland incoln olton ewkesbury travelling taes pant keli x anchester noxville hicagobotz whs dmonton lberta ia ardashianmpire unrise anor xford dawara apan e oines undas ntario etherlands okyo ld lighty tlanta eorgia abul uebingen nnsbruck ight dark form void rbil tockton tee eesside crewston old ew ngland home melbourne ape arwick ollarocracy also texas university hipwreck ove ydney ustralia orldide verland ark uerto ico ilicon alley ingapore itria ew elhi elhi uscame tu elte iltshire eicester ittsburgh oston eeds ngland laya del armen exico eicester ackay ustralia uincy adison urveeareadentralnet harles iam af utside atrix hink n ell pic ity somewhere rainbow elmaakland ombardment ay avannah dallas ew rleans ouisiana ngland nited ingdom ublin ity reland eeds ngland ew ampshire orld ide ntermountain est orld ide ew ampshire anchester ulsa klahoma uburn taken piper curda cotland weden roton risbane ustralia eoria eading oncord orcester oanoke nj via oston orld ide ew ampshire klahoma ity iego xgerxa elleville llinois labama akland scondido hicago rea herry reek enver logland mumbai sle ampton oads ameday arthling aracas enezuela harlottetown aradise ta ige pokane ashington taco bell ustralian apital erritory kate theythem infpt acramento ackay ustralia harles please weit ixwin antiago ernabeau yel hiterun kyrim ew rleans ouisiana eattle reenpoint rooklyn dallas klahoma ity ictoria ritish olumbia botanical garden probably adison elspruit outh frica midwest openhagen apital egion enmark n ell pying thought seattle grace mercy death elmaakland rizona pic ity ead ffice nited ingdom id north coast ihone ueen reek amaica rinidad obago elbourne ustralia anberra ustralian apital erritory beacon hill somewhere outside olmers rust chool oys oughborough ydney ustralia elangor hilippines hoenix e oyne einz ield kyport de la osa owal alzone one ueanbeyan ydney nsula arataria everywhere nglewood bsecon ostly uin airobi ochelle south heaven l orado anta onica oledo irginia oulder ospital bc vid n kinhan arm eattle ansas ity ellington ew ealand los angeles ca ew runswick ity ngels organville exas merica ew ealand enver tockholm weden zeroth ytham nne lisse isconsin ortugal around world baby ntmdutdoors ima er uxton enice ottingham uito cuador nexpressible sland ose ouvet sland lanet arth nexpressible sland lanet arth ortland ublin reland lanet arth urking eeds ngland enter omestic reparedness kraine reland elt ale eattle ashington eaumont nnapolis egas evada eattle ashington arris ounty exas yler vanston orth erriby ast orkshire olombia eattle ashington vanston me owa eattle ashington oscow ussia ankato rbost ictoria ustralia omewhere everland aundry ivea norway ad hawty estoast olchester ssex livin life uplex ity nside mind ydney ustralia lappin mackin adrid omunidad de adrid etherlands ighland ark cotland wan iver elrose ubail audi rabia ocation ugarhouse lugo hicago llinois lackpool ngland akefams n cloud andton outh frica ummerville otw urope righton ove use ehind bama urtain orldwide enderson manchester uk ugene regon theyher aris okyo hehim uplex ity ictoria ritish olumbia ingston amaica pokane standing behind lexandria gypt instagram hloeellx web rancisco ay rea oreverith upport whereverthefuck washington erth estern ustralia ive m elton regs place iejo ansas ree tate ilang avite araaque ort mith rasil planeta wwwyoutubecomalkavius orever irl sprito anto arylandaltimore ew rleans ancouver ouston exas edford ustin alaysia allas exas oanoke nnamed ity eterborough n protectingtitans side regon au laire isconsin oseph innesota rom torn town aco ennessee akistan bk eterborough nt ohannesburg outh frica n court herry reek enver raverse ity ee barn bleakness ertfordshire reeley soooota acramento acramento rvada regon enver aryland ancouver olombieritannique rving exas iverside rancisco ast tlanta eorgia aint ucia orth ighlands ancouver th rancisco acramento acramento btwn rock hard place ennessee ixenrovence rance iverpool leveland elbourne ustralia arlington elbourne ustralia enton hio alatians harleston n world rancisco efinitely stable akistan uernavaca orelos xico cotland irginia ig ty angor oown eston super mare ictoria x akistan slamabad incoln indenhurst slamabad omewhere far ingswinford love smurfs nternational iterbo cting uenos ire aneohe ouma asttlanta esteorgia ntonio leveland hio iego exas olivar taking pain like pleasure ransokyo ashington tah honeymoon avenue wherever there netflix ont ph online onroe uayaquil bahstunporta reeko io everland ennsylvania rinidad obago hicago ake uena ista iberty ake nkara alatya ad rontem somewhere cali arden rove delaide ustralia urnus ztec rincess turner fenton ganda ganda lkhart delaide ustralia delaide ustralia ully enedict ollege iami amilton e oines owa ural orthern evada epublic hilippines hilippines hyderabad ancouver worldwide uezon ity hilippines eneva artford connecticut ioux alls ornwall eside asketball ome taly afekop aatsepe elbourne ilnius eneva ade merica stop asking mind world atskills olumbia ight exas awrence via mporia nknown nknown arysville ew aven onnecticut ustin iego ontevedra alicia harlotte ockville aryland onversation ennessee emonang ayr oughborough ngland illarney ahar walior aul tlanta eorgia incoln orld pinning time tlanta eorgia oston ailing ayton ewcastle pon yne ngland tlanta eorgia tlanta eorgia nstagram trillrebel ose srael ruguay esteros allifrey ansas ity ilver pring fghanistan weden tmosphere lasgow somewhere ortugal outh tand dundalk ireland ochi outh tand oure forever ettering lanet arth pare om ilton eynes ovi uenos ire rgentina go mpls ensington uffalo ylacauga labama ight ou yprus kansa ortland arry n utta ome akers ss licante pain ooseknuckle aine alermo icily suncin bingen oorhees tlanta lanet arth akanda agos oes really matter screen hoenix oes really matter dinburgh eyburn lumnus conomics lackpool void ennesseeallifrey mman ordan lackpool olumbia eight op ecret op secret bunker elbroughton ngland emperance ermenence n hadows ampo rande nbc washington eattle ubai nited rab mirates ong ong orld news ong ong ong ong ristol labuan malaysia right next wwwtmgcgartcom risbane elbourneish ottingham ngland eth nniscrone ughris ligo ostly ellington tlanta orld ort izz hio aleigh arnerleveland ewcastle upon yne walking tightrope rascati ollege tation ishops ydeard ngland p hill anchester ellington ibya ewcastle akistan balvanera ro iaspora ashington astbourne ngland tate reaming ema building ruit owl outh frica ooters eachtree tsego ell useasta hodesland apa golborne north west england sweden agalkote arnataka hrewsbury erre aute via oston lasgow cotland eautiful ritish olumbia ewcastle ublin reland irmingham edford regon atalonia pain isbon ortugal alifax ouvellecosse aggressive cannoli eater rancisco tlantic rthas everywhere ose oad illionaires lub ashington oad illionaires lub ashington rasnodar ussia oad illionaires lub home istrict entrification oad illionaires lub oad illionaires lub ashington airobi adenorthumberland amshedpur harkhand oad illionaires lub eritrean ayton orset nited ingdom small federal enclave une mostly esert eal nchorage nterprise labama ashington ante rance ountry nfant laza etro tation urban outh frica lexandria rlington eaded op oimbatore hicago hicagoland ew elhi inneapolis hicago hicagollinois ahti inland ere everywhere insane asylum akland acclesfield oulder emporary owers acclesfield ueblo insane asylum anchester tockholm weden irmingham ouston exas orth ast ngland marveldragon agewicdiv ouis irdland ew eridian rizona onterrey xico infj twitter indhede ingapore ustin alimantan imur ndonesia rehistoric arth san gabriel la union anila hilippines iddle arth sgard erk ubconscious ingapore uilmes rg ichmond stanbul omania hile iego ohannesburg apan onduras lvin ilbraham itadel ldtown esteros ew ngland hehim sheher ask ome pum pum aulton ngland orway hailand erver retoria todaysbigstockcom buenos aire argentina urulere agosome f wagg ontral ubec ontreal iveeed aco exas od orge oise daho n studio uttack rissa atrareece round orld alle el ol ilesia oland oscow ouston alikesir skisehir anchester ngland aldives oul omaliaody ontreal anchester ooooooo orioh apan iltonallahassee aname ity orioh apan ln ordrheinestfalen roomfield orioh apan rasil emphis orld ide rasil orioh apan n ab reating ikini bottom back japan orioh apan orthern reland iego orioh apan ydney ustralia angkok hailand risbane eneva anchester hillin anchester everywhere go irmingham ssjs ndonesia eadow ournemouth rumestah orset hester anbridge probably petting animal aries olumbus oseph de eauce asington uk eattle ew ewport ale iunes contactimpleewsgmailcom egas evada ictoria ritish olumbia ancouver rasil tlanta ga ashington enver ashington ackson ortoviejoanabicuador chillin ceder rapid anila hilippines en el pais de los arrechos inton aperville ima eru n otifications ort orth exas appar ohali unjab los angeles lexandria algary nearest trash tlanta orocco edophile hunting ground isit dedicated website sia acific joduagos eattle elowna edophile hunting ground edophile hunting ground edophile hunting ground edophile hunting ground akland anila agnolia edophile hunting ground pain alestine atinixw oopa erkeley pokane kanagan alley rancisco aribbean rancisco ruces eereen ootball ield luv raquel austin texas ock ill acon eorgia shxjonesprgmailcom miami ork aialua awaii ast oast icon cheesed notorious orris ortugal ynwood money mi aint ouis issouri journey ayangayang erak nside webcam top inancial ew iews lyeh outh acific taking bath disturb lberta owling nited ingdomraserburgh orldideeb embroke ayonne ubai yshanaysh fl alfrica elbourne rancisco ichmond eight ew ampshire lobal ember ite ampa around world n ansion uma casa de old yellow brick oventry scandinavia los angeles ca outh orea altimore ughes adison niversity hicago yorkshire ittsburgh daho eirut ebanon l aso exas qosqo ubbock via rum izzys nee arrakech dina arrakech ensift l aouz llensburg pokane orway sofa via rum aviourquad ocatello oom ear osemite arbinger tlanta via rum tlanta chicago utchnglisherman ydney oklahoma ne orld esde epublica rgentina klahoma ity chira enezuela box elbourne ustralia arcelona pain ew ealand kuma ukushima rzl esde epublica rgentina rm ord od keepthefaith lobal dition eattle world aline ere otrakansascity alkeith cotland urand aperville orging tory as cisistj ere supposed udapest ungary ouston airo gypt outh frica arachi akistan dinburgh cool ampshire blivion outh est ngland edondo ewcastle ngland lanet yal handral ystem arachi akistan umbai aharashtra tlanta ew rleans hoenix denmark avao ity ased ortland regon uwait ildomar buhh e global delaide nchorage orld niversity imerick acae lains elbourne ustralia outhern aine ive offeeshop enfrew cotland uala umpur alaysia ntioch algary eddit ashville akersfield agpur urrey anchester algary tlanta n oute adison ansas ity orth astings ntario orthern irginia algary ugusta allas orrance lympia uckland enderson evada ancouver ritish olumbia laska eattle ydney ew outh ale lympia odiak ydney irmingham ngland ark idge llinois lendale uwait leetxford ahrain oventry ewcastle okomo n enosha oventry iego agos frica iego ydia ew ngland aterloo nt eb risbane ew ritain hevy hase everywhere wrapped arnd hyuks finger evier ounty ochester old oast ld ustralia ashville n eightsided polygon onoha illage atharines ntario old oast ortland regon ortland orth est ngland anchester idwest anchester hilippines ashville ueensland ustralia arpurhey anchester ortland regon enton ity ashington anchester hicago hilly home reaking ew seoul tate ensley treet ortland est old oast ustralia ortland regon ashington ydney ustralia end regon end regon hevy hase atinixw oopa erkeley hucktownaalle ellowknife end regon enfrew cotland sydney australia ellowknife riities ash end regon ortland mpireirst rder risbane ueensland oncton ew runswick imaginedragoner illiamsburg emily helen shelley ew rleans ouisiana amaku cademy lass pring rove indy ity klahoma ity loomington amaku cademy lass hitby ajang uncak lam allas hilly aby leveland theythem deli innipeg ew ampshire rost istrict okohama apan x lmwood ark outh east lrhcthbandfour bournemouth akland amaica zboyerwashingtontimescom onderland elizabeth king hicago eight ay area olumbus n toilet dump alestine exas auai awaii hode sland ammu ashmir erlingua exas tay ly hilippines ennsylvania outh frica outh frica yiv kraine amung anam arth ilky ay niverse dappallyochi exas n airie else kraine ogersville kraine elangana hatham harter ember ood uffalo lberta nchorage akhon hammarat omewhere lyde uincy innipeg resno aranasi aredo hane ew outh ale ustralia oconos acramento addonfield angalore lso follow lay yan imapur n potter hand orpus hristi exas ape hamblee eorgia fficial ebsite ashingtontate eattle echish ope oad amaica estnd uritan oungstown ante rance asertaoma taly ekanbaruatam slandedan oman muscat al seeb isconsin ogja ndonesia lowly sia ancouver von orth ima hio owell playing soccer eating pizza ueco undo airobi oston ape od afael castillo ort ayne nterprise rand apids ouston hristianaennessee ashville ishops tortford ngland arth onduras hippenhamath ewa zone arregado argo mexico ape hayelitsha tanford niversity edford hibodaux razil n moment lliston ntario aud arabia riyadh then icosia remerton ulalip ashington alifax ilton ead ouis aulo high come rex big boy rooklyn ight ou tloud catwalk somewhere ac ewsome love louisville kentucky akai ort alleyayetteville rizona ancouver ewark road success esert ydney ustralia uba ity moon iagara alls ntario oodcreek oseville ere istrict range ounty lain exas outhast sia aipan range ounty alif lost thought ive offeeshop range ounty ive offeeshop aguna alif evada arson ityreeman racaju ergipe ashville ennessee exas ong aton erbyshire orldide ortage orldwide oadsrails verywhere ashville iberty ownship hio berdeenshire oop omewhere asking idge talybridge ameside acramento ranklin near ashville ouis issouri andung ouisville dreamy lake houstn hell atricks urgatory cockerelshoes manaus ioux alls epublica ominicana astlake illsvilleynchburg ome ravelling around world entwood et ife airy ail anto omingo lma osa omewhere round ou ouston orsicana incinnati acon ome mansion stley anchester ow eicester rome omerset ngland ar elbourne ictoria ssex ngland somewhere cold arbados eeds ahpeton horley ancashire orthampton entura e emenet ubbock exas erby ississauga ntario elhi eighley ngland omfretrovidence altimore ast ansing ocketing galaxy boston arrandyte ustralia ixenrovencetrecht uren iagara alls ntario addesdon noxville ock prings ietnam untsville labama etro anila reaking ew akartauala umpurpore ietnam onolulu awaii epublic exas untsville dont run est idlands akartauala umpurpore lobaloocation akartauala umpurpore cean ity belleville ualar umpur alaysia ustin outh dventist esson abbath assamaquoddy herwood risbane ustralia lobaloocation stados nidos imaru istrict ew ealand ameroon ustell ornwall hilippines orth merica io de aneiro helby ounty port matilda pa oncord latinaomania o ngeles estern ashington tlanta ontana ape od icola alley ip blog oise daho uncan exas ased erve ationwide ortland regon ancouver ansdaleennsylvania acramento aro

In [ ]:
#ahora hay que spliteralo en n-gramas, y ordenarlo ascendentemente por frecuencia

In [28]:
import collections
from nltk import ngrams
import itertools
acum=list()
sentence = texto2
n = 6
sixgrams = ngrams(sentence.split(), n)

for grams in sixgrams:
     acum.append(list(grams))

In [29]:
acum[:5]

[['irmingham', 'st', 'eptember', 'ristol', 'retoria', 'orld'],
 ['st', 'eptember', 'ristol', 'retoria', 'orld', 'ide'],
 ['eptember', 'ristol', 'retoria', 'orld', 'ide', 'aranaque'],
 ['ristol', 'retoria', 'orld', 'ide', 'aranaque', 'ity'],
 ['retoria', 'orld', 'ide', 'aranaque', 'ity', 'ive']]

In [30]:
#como es una lista de lista,entonces unifico todo en una sola lista
merged = list(itertools.chain(*acum))  
merged[:5]

['irmingham', 'st', 'eptember', 'ristol', 'retoria']

In [ ]:
#ordeno ascendentemente por frecuencia

In [31]:
dfd=pd.DataFrame(merged)
dfd=dfd.groupby(0).agg(cant=(0,'count')).nlargest(100,'cant').reset_index()
dfd.columns=['loca','cant']
dfd[:5]

     loca  cant
0     ity   354
1  ngland   330
2      ew   294
3    exas   268
4    outh   264

In [32]:
#creo otro unificador de localizaciones con estas palabras
def segundaunificacion(data2):
      data2.loc[data2['location'].str.contains('(?i)ngland')==True,'location' ]='England'
      data2.loc[data2['location'].str.contains('(?i)exas')==True,'location' ]='Texas'
      data2.loc[data2['location'].str.contains('(?i)ustralia')==True,'location' ]='Australia'
      data2.loc[data2['location'].str.contains('(?i)ashington')==True,'location' ]='Washington'
      data2.loc[data2['location'].str.contains('(?i)tlanta')==True,'location' ]='Atlanta'
      data2.loc[data2['location'].str.contains('(?i)eattle')==True,'location' ]='beattle'
      data2.loc[data2['location'].str.contains('(?i)anchester')==True,'location' ]='Manchester'
      data2.loc[data2['location'].str.contains('(?i)frica')==True,'location' ]='Africa'
      data2.loc[data2['location'].str.contains('(?i)regon')==True,'location' ]='Oregon'
      data2.loc[data2['location'].str.contains('(?i)ydney')==True,'location' ]='sydney'
      data2.loc[data2['location'].str.contains('(?i)ouston')==True,'location' ]='Houston'
      data2.loc[data2['location'].str.contains('(?i)iego')==True,'location' ]='Diego'
      data2.loc[data2['location'].str.contains('(?i)cotland')==True,'location' ]='Scotland'
      data2.loc[data2['location'].str.contains('(?i)rancisco')==True,'location' ]='Francisco'
      data2.loc[data2['location'].str.contains('(?i)eorgia')==True,'location' ]='Georgia'
      data2.loc[data2['location'].str.contains('(?i)allas')==True,'location' ]='Dallas'
      data2.loc[data2['location'].str.contains('(?i)ancouver')==True,'location' ]='Dancouver'
      data2.loc[data2['location'].str.contains('(?i)elbourne')==True,'location' ]='Melbourne'
      data2.loc[data2['location'].str.contains('(?i)ingdom')==True,'location' ]='Kingdom'
      data2.loc[data2['location'].str.contains('(?i)algary')==True,'location' ]='Calgary'
      data2.loc[data2['location'].str.contains('(?i)apan')==True,'location' ]='Japan'
      data2.loc[data2['location'].str.contains('(?i)hilippines')==True,'location' ]='Philippines'
      data2.loc[data2['location'].str.contains('(?i)klahoma')==True,'location' ]='Oklahoma'
      data2.loc[data2['location'].str.contains('(?i)ortland')==True,'location' ]='Portland'
      data2.loc[data2['location'].str.contains('(?i)acramento')==True,'location' ]='Sacramento'
      data2.loc[data2['location'].str.contains('(?i)oston')==True,'location' ]='Hoston'
      data2.loc[data2['location'].str.contains('(?i)ustin')==True,'location' ]='justin'
      data2.loc[data2['location'].str.contains('(?i)ashville')==True,'location' ]='ashville'
      data2.loc[data2['location'].str.contains('(?i)hicago')==True,'location' ]='chicago'
      data2.loc[data2['location'].str.contains('(?i)merica')==True,'location' ]='America'
      data2.loc[data2['location'].str.contains('(?i)Vegas')==True,'location' ]='Vegas'
      data2.loc[data2['location'].str.contains('(?i)emphis')==True,'location' ]='Memphis'
      data2.loc[data2['location'].str.contains('(?i)Ohio')==True,'location' ]='Ohio'
      data2.loc[data2['location'].str.contains('(?i)ictoria')==True,'location' ]='Victoria'
      data2.loc[data2['location'].str.contains('(?i)ONTARIO')==True,'location' ]='Ontario'
      data2.loc[data2['location'].str.contains('(?i)reland')==True,'location' ]='Ireland'
      data2.loc[data2['location'].str.contains('(?i)irmingham')==True,'location' ]='Birmingham'
      data2.loc[data2['location'].str.contains('(?i)ennessee')==True,'location' ]='Tennessee'
      data2.loc[data2['location'].str.contains('(?i)ewcastle')==True,'location' ]='Newcastle'
      data2.loc[data2['location'].str.contains('(?i)olumbia')==True,'location' ]='Columbia'
      data2.loc[data2['location'].str.contains('(?i)Spain')==True,'location' ]='Spain'
      data2.loc[data2['location'].str.contains('(?i)ansas')==True,'location' ]='Kansas'
      data2.loc[data2['location'].str.contains('(?i)Denver')==True,'location' ]='Colorado'
      
      data2.loc[data2['location'].str.contains('(?i)Louis')==True,'location' ]='Louis'

      data2.loc[data2['location'].str.contains('(?i)rance')==True,'location' ]='France'
      data2.loc[data2['location'].str.contains('(?i)etherlands')==True,'location' ]='Netherlands'
      data2.loc[data2['location'].str.contains('(?i)weden')==True,'location' ]='Sweden'
      data2.loc[data2['location'].str.contains('(?i)akistan')==True,'location' ]='Pakistan'
      data2.loc[data2['location'].str.contains('(?i)ritish')==True,'location' ]='British'
      data2.loc[data2['location'].str.contains('(?i)brasil')==True,'location' ]='Brasil'
      data2.loc[data2['location'].str.contains('(?i)rome')==True,'location' ]='Rome'
      data2.loc[data2['location'].str.contains('(?i)leveland')==True,'location' ]='cleveland'
      data2.loc[data2['location'].str.contains('(?i)valley')==True,'location' ]='alley'
      data2.loc[data2['location'].str.contains('(?i)ingapore')==True,'location' ]='singapore'
      data2.loc[data2['location'].str.contains('(?i)arizona')==True,'location' ]='arizona'
      data2.loc[data2['location'].str.contains('(?i)llinois')==True,'location' ]='illinois'
      data2.loc[data2['location'].str.contains('(?i)tokyo')==True,'location' ]='tokyo'

In [33]:
#ahora unifico de nuevo el dataset, pero veremos el antes y despues
data.groupby('location').agg(cantidad=('location','count')).nlargest(30,'cantidad')[:20]

                 cantidad
location
New York, NY          295
USA                   265
Florida               204
Canada                 84
California             82
New Jersey             69
India                  68
Nigeria                61
Philadelphia           33
colorado               33
toronto                29
UK                     27
Los Angeles, CA        26
carolina               24
Mumbai                 22
Washington, DC         21
Worldwide              19
Australia              18
Chicago, IL            18
Massachusetts          18

In [34]:
segundaunificacion(data)

In [35]:
#despues
data.groupby('location').agg(cantidad=('location','count')).nlargest(50,'cantidad')

                 cantidad
location
New York, NY          295
USA                   265
Florida               204
Canada                 84
California             82
New Jersey             69
India                  68
Washington             68
Australia              65
Nigeria                61
England                59
Texas                  51
chicago                49
Philadelphia           33
colorado               33
Atlanta                32
Francisco              32
Africa                 29
toronto                29
UK                     27
Kingdom                26
Los Angeles, CA        26
Ireland                24
carolina               24
Mumbai                 22
beattle                22
Louis                  21
Oregon                 21
Houston                20
Manchester             20
America                19
Dallas                 19
Scotland               19
Worldwide              19
Dancouver              18
Massachusetts          18
Oklahoma               18
Calgary                17
Diego                  17
Hoston                 17
Kansas                 17
Japan                  16
Everywhere             15
Ohio                   15
Philippines            15
sydney                 15
Sacramento             14
ashville               14
justin                 14
Indonesia              13

In [ ]:
#ya unificamos por palabras mas usuales en el train, ahora vamos aplicar esas funciones al test
#y guardarlo en un csv.

In [39]:
#antes
test.groupby('location').agg(cantidad=('location','count')).nlargest(10,'cantidad')

                cantidad
location
New York              38
USA                   37
Worldwide             16
United States         15
Canada                13
London                13
Kenya                 12
Nigeria               12
United Kingdom        12
India                 11

In [40]:

unificar_cuidades_paies(test)
segundaunificacion(test)

In [41]:
#despues
test.groupby('location').agg(cantidad=('location','count')).nlargest(10,'cantidad')

              cantidad
location
New York, NY       128
USA                108
Florida             65
Canada              41
England             32
India               32
California          29
Washington          29
New Jersey          28
Australia           27

In [43]:
#tambien vamos a aplicar clean_text asi ya esta formateado para uso
clean_text(test)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [55]:
clean_text(data)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [56]:
data.head(1)

   id keyword  ... target                                  clean_text
0   1     NaN  ...      1  deed reason earthquake may allah forgive u

[1 rows x 6 columns]

In [ ]:
#ahora si guardamos el train y test con columnas unificadas

In [57]:
from google.colab import files
test.to_csv('test_uni_loca_1.csv') 
files.download('test_uni_loca_1.csv')
data.to_csv('data_uni_loca_1.csv') 
files.download('data_uni_loca_1.csv')

Ahora completamos deacuerdo a la localizacion que se encuentre en el tweet( solo localitaziones nulas)

In [ ]:
#completar las localizaciones fatantes con alguna palabra de pais( to 50 mas comunes, con cant tweet relevantes MAYOR A 13) contenido en el texto(tweet)

In [58]:
#localions_list_list = list(set(data.keyword))  #todas las localizaciones

data_con_localizaciones_usuales=data.groupby('location').agg(cantidad=('location','count')).nlargest(50,'cantidad')
locations_list = list(data_con_localizaciones_usuales.index)
locations_list[:5]

['New York, NY', 'USA', 'Florida', 'Canada', 'California']

In [59]:
#hallamos paises and ciudades en los tweet
def unificar_localization_with_tweet(data2):
      data2.loc[data2['clean_text'].str.contains('(?i)flori')==True,'location' ]='Florida'
      data2.loc[data2['clean_text'].str.contains('(?i)florida')==True,'location' ]='Florida'
      data2.loc[data2['clean_text'].str.contains('(?i), fl')==True,'location' ]='Florida'
      data2.loc[data2['clean_text'].str.contains('(?i)toronto')==True,'location' ]='toronto'
      data2.loc[data2['clean_text'].str.contains('(?i)carolina')==True,'location' ]='carolina'
      data2.loc[data2['clean_text'].str.contains('(?i)colorado')==True,'location' ]='colorado'
      data2.loc[data2['clean_text'].str.contains('(?i)ny')==True,'location' ]='New York, NY'
      data2.loc[data2['clean_text'].str.contains('(?i)new yo')==True,'location' ]='New York, NY'
      data2.loc[data2['clean_text'].str.contains('(?i)california')==True,'location' ]='California'
      data2.loc[data2['clean_text'].str.contains('(?i), pa')==True,'location' ]='Philadelphia'
      data2.loc[data2['clean_text'].str.contains('(?i),phila')==True,'location' ]='Philadelphia'
      data2.loc[data2['clean_text'].str.contains('(?i),phili')==True,'location' ]='Philippines'  
      data2.loc[data2['clean_text'].str.contains('(?i)Massa')==True,'location' ]='Massachusetts'
      data2.loc[data2['clean_text'].str.contains('(?i)Michi')==True,'location' ]='Michigan'
      data2.loc[data2['clean_text'].str.contains('(?i)Ariz')==True,'location' ]='Arizona'  
      data2.loc[data2['clean_text'].str.contains('(?i), nc')==True,'location' ]='New Jersey'
      data2.loc[data2['clean_text'].str.contains('(?i)jerse')==True,'location' ]='New Jersey'  
      data2.loc[data2['clean_text'].str.contains('(?i)canad')==True,'location' ]='Canada'
      data2.loc[data2['clean_text'].str.contains('(?i)niger')==True,'location' ]='Nigeria'
      data2.loc[data2['clean_text'].str.contains('(?i)indi')==True,'location' ]='India'
      data2.loc[data2['clean_text'].str.contains('(?i)flori')==True,'location' ]='Florida'
      data2.loc[data2['clean_text'].str.contains('(?i)london')==True,'location' ]='Florida'
      data2.loc[data2['clean_text'].str.contains('USA')==True,'location' ]='USA'   
      data2.loc[data2['clean_text'].str.contains('United States')==True,'location' ]='USA' 

      data2.loc[data2['clean_text'].str.contains('(?i)ngland')==True,'location' ]='England'
      data2.loc[data2['clean_text'].str.contains('(?i)exas')==True,'location' ]='Texas'
      data2.loc[data2['clean_text'].str.contains('(?i)ustralia')==True,'location' ]='Australia'
      data2.loc[data2['clean_text'].str.contains('(?i)ashington')==True,'location' ]='Washington'
      data2.loc[data2['clean_text'].str.contains('(?i)tlanta')==True,'location' ]='Atlanta'
      data2.loc[data2['clean_text'].str.contains('(?i)eattle')==True,'location' ]='beattle'
      data2.loc[data2['clean_text'].str.contains('(?i)anchester')==True,'location' ]='Manchester'
      data2.loc[data2['clean_text'].str.contains('(?i)frica')==True,'location' ]='Africa'
      data2.loc[data2['clean_text'].str.contains('(?i)regon')==True,'location' ]='Oregon'
      data2.loc[data2['clean_text'].str.contains('(?i)ydney')==True,'location' ]='sydney'
      data2.loc[data2['clean_text'].str.contains('(?i)ouston')==True,'location' ]='Houston'
      data2.loc[data2['clean_text'].str.contains('(?i)iego')==True,'location' ]='Diego'
      data2.loc[data2['clean_text'].str.contains('(?i)cotland')==True,'location' ]='Scotland'
      data2.loc[data2['clean_text'].str.contains('(?i)rancisco')==True,'location' ]='Francisco'
      data2.loc[data2['clean_text'].str.contains('(?i)eorgia')==True,'location' ]='Georgia'
      data2.loc[data2['clean_text'].str.contains('(?i)allas')==True,'location' ]='Dallas'
      data2.loc[data2['clean_text'].str.contains('(?i)ancouver')==True,'location' ]='Dancouver'
      data2.loc[data2['clean_text'].str.contains('(?i)elbourne')==True,'location' ]='Melbourne'
      data2.loc[data2['clean_text'].str.contains('(?i)ingdom')==True,'location' ]='Kingdom'
      data2.loc[data2['clean_text'].str.contains('(?i)algary')==True,'location' ]='Calgary'
      data2.loc[data2['clean_text'].str.contains('(?i)apan')==True,'location' ]='Japan'
      data2.loc[data2['clean_text'].str.contains('(?i)hilippines')==True,'location' ]='Philippines'
      data2.loc[data2['clean_text'].str.contains('(?i)klahoma')==True,'location' ]='Oklahoma'
      data2.loc[data2['clean_text'].str.contains('(?i)ortland')==True,'location' ]='Portland'
      data2.loc[data2['clean_text'].str.contains('(?i)acramento')==True,'location' ]='Sacramento'
      data2.loc[data2['clean_text'].str.contains('(?i)oston')==True,'location' ]='Hoston'
      data2.loc[data2['clean_text'].str.contains('(?i)ustin')==True,'location' ]='justin'
      data2.loc[data2['clean_text'].str.contains('(?i)ashville')==True,'location' ]='ashville'
      data2.loc[data2['clean_text'].str.contains('(?i)hicago')==True,'location' ]='chicago'
      data2.loc[data2['clean_text'].str.contains('(?i)merica')==True,'location' ]='America'
      data2.loc[data2['clean_text'].str.contains('(?i)Vegas')==True,'location' ]='Vegas'
      data2.loc[data2['clean_text'].str.contains('(?i)emphis')==True,'location' ]='Memphis'
      data2.loc[data2['clean_text'].str.contains('(?i)Ohio')==True,'location' ]='Ohio'
      data2.loc[data2['clean_text'].str.contains('(?i)ictoria')==True,'location' ]='Victoria'
      data2.loc[data2['clean_text'].str.contains('(?i)ONTARIO')==True,'location' ]='Ontario'
      data2.loc[data2['clean_text'].str.contains('(?i)reland')==True,'location' ]='Ireland'
      data2.loc[data2['clean_text'].str.contains('(?i)irmingham')==True,'location' ]='Birmingham'
      data2.loc[data2['clean_text'].str.contains('(?i)ennessee')==True,'location' ]='Tennessee'
      data2.loc[data2['clean_text'].str.contains('(?i)ewcastle')==True,'location' ]='Newcastle'
      data2.loc[data2['clean_text'].str.contains('(?i)olumbia')==True,'location' ]='Columbia'
      data2.loc[data2['clean_text'].str.contains('(?i)Spain')==True,'location' ]='Spain'
      data2.loc[data2['clean_text'].str.contains('(?i)ansas')==True,'location' ]='Kansas'
      data2.loc[data2['clean_text'].str.contains('(?i)Denver')==True,'location' ]='Colorado'
      
      data2.loc[data2['clean_text'].str.contains('(?i)Louis')==True,'location' ]='Louis'

      data2.loc[data2['clean_text'].str.contains('(?i)rance')==True,'location' ]='France'
      data2.loc[data2['clean_text'].str.contains('(?i)etherlands')==True,'location' ]='Netherlands'
      data2.loc[data2['clean_text'].str.contains('(?i)weden')==True,'location' ]='Sweden'
      data2.loc[data2['clean_text'].str.contains('(?i)akistan')==True,'location' ]='Pakistan'
      data2.loc[data2['clean_text'].str.contains('(?i)ritish')==True,'location' ]='British'
      data2.loc[data2['clean_text'].str.contains('(?i)brasil')==True,'location' ]='Brasil'
      data2.loc[data2['clean_text'].str.contains('(?i)rome')==True,'location' ]='Rome'
      data2.loc[data2['clean_text'].str.contains('(?i)leveland')==True,'location' ]='cleveland'
      data2.loc[data2['clean_text'].str.contains('(?i)valley')==True,'location' ]='alley'
      data2.loc[data2['clean_text'].str.contains('(?i)ingapore')==True,'location' ]='singapore'
      data2.loc[data2['clean_text'].str.contains('(?i)arizona')==True,'location' ]='arizona'
      data2.loc[data2['clean_text'].str.contains('(?i)llinois')==True,'location' ]='illinois'
      data2.loc[data2['clean_text'].str.contains('(?i)tokyo')==True,'location' ]='tokyo'

In [ ]:
#agarramos  las localizaciones con null para completarlas(todas ellas tiene tweet)

In [60]:
data_only_null_location=data[data['location'].isna()]

In [67]:
test_only_null_location=test[test['location'].isna()]

In [68]:
test_only_null_location.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1105 entries, 0 to 3262
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          1105 non-null   int64
 1   keyword     1079 non-null   object
 2   location    0 non-null      object
 3   text        1105 non-null   object
 4   clean_text  1105 non-null   object
dtypes: int64(1), object(4)
memory usage: 51.8+ KB

In [61]:
data_only_null_location.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2533 entries, 0 to 7612
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          2533 non-null   int64
 1   keyword     2472 non-null   object
 2   location    0 non-null      object
 3   text        2533 non-null   object
 4   target      2533 non-null   int64
 5   clean_text  2533 non-null   object
dtypes: int64(2), object(4)
memory usage: 138.5+ KB

In [62]:
data_only_null_location.head(5)

   id keyword  ... target                                         clean_text
0   1     NaN  ...      1         deed reason earthquake may allah forgive u
1   4     NaN  ...      1              forest fire near la ronge sask canada
2   5     NaN  ...      1  resident asked shelter place notified officer ...
3   6     NaN  ...      1  people receive wildfire evacuation order calif...
4   7     NaN  ...      1  got sent photo ruby alaska smoke wildfire pour...

[5 rows x 6 columns]

In [63]:
#hallamos las localizaciones dentro del tweet para completar los null de locationes
unificar_localization_with_tweet(data_only_null_location)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [69]:
#hallamos las localizaciones dentro del tweet para completar los null de locationes
unificar_localization_with_tweet(test_only_null_location)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [70]:
test_only_null_location['location'].value_counts()

New York, NY     52
California       17
America          15
Nigeria          11
Japan             9
India             7
France            6
Calgary           6
Massachusetts     6
Pakistan          6
Washington        4
Louis             4
Georgia           4
chicago           3
Australia         3
justin            3
Canada            2
Florida           2
Colorado          2
Oklahoma          2
England           1
alley             1
Oregon            1
British           1
Ireland           1
Birmingham        1
ashville          1
Portland          1
Newcastle         1
Rome              1
singapore         1
Columbia          1
tokyo             1
Texas             1
beattle           1
Name: location, dtype: int64

In [64]:
data_only_null_location['location'].value_counts()

New York, NY     105
California        50
Japan             30
India             24
Pakistan          20
France            19
Massachusetts     16
America           16
Florida           12
Nigeria           11
justin             9
Australia          9
Calgary            8
Canada             7
Texas              6
Georgia            6
chicago            6
Africa             6
colorado           5
Louis              5
Washington         4
Oklahoma           4
British            3
Rome               3
Hoston             3
toronto            3
Diego              2
Scotland           2
ashville           2
Sacramento         2
cleveland          2
Tennessee          2
Ontario            2
carolina           2
Memphis            2
Sweden             2
alley              2
Dallas             1
tokyo              1
sydney             1
Houston            1
England            1
Oregon             1
Michigan           1
Kingdom            1
Ireland            1
Victoria           1
Arizona            1
Vegas              1
Atlanta            1
Name: location, dtype: int64

In [65]:
#vemos que completo muchas location con el tweet que hicieron, tendra falsos positivos, pero pocos.
#ahora vamos a mergear los datos sin null qeu sacamos antes con este nuevo data set cque completo mas nuellos de location
datasinnullosenlocation=data[data['location'].isna()==False]
#rehacemos el dataset denuevo mas completo
location_complete_with_tweet=datasinnullosenlocation.append(data_only_null_location,ignore_index=True)

In [71]:
#vemos que completo muchas location con el tweet que hicieron, tendra falsos positivos, pero pocos.
#ahora vamos a mergear los datos sin null qeu sacamos antes con este nuevo data set cque completo mas nuellos de location
datasinnullosenlocation_test=test[test['location'].isna()==False]
#rehacemos el dataset denuevo mas completo
location_complete_with_tweet_test=datasinnullosenlocation_test.append(test_only_null_location,ignore_index=True)

In [72]:
location_complete_with_tweet_test.groupby('id').agg(canti=('id','count')).nlargest(5,'canti')

    canti
id
0       1
2       1
3       1
9       1
11      1

In [66]:
#con esto confirmamos lo evidente, que no hay id duplicadas
location_complete_with_tweet.groupby('id').agg(canti=('id','count')).nlargest(5,'canti')

    canti
id
1       1
4       1
5       1
6       1
7       1

In [73]:
#guardo este dataset , acordarse que este puede tener unos cuantos falsos positivos
location_complete_with_tweet_test.to_csv('test_uni_loca_2.csv') 
files.download('test_uni_loca_2.csv')
location_complete_with_tweet.to_csv('data_uni_loca_2.csv') 
files.download('data_uni_loca_2.csv')

In [ ]:
#ahora la idea es aproximar las localidades nulas que quedaron, mediante su tweet,
# es decir vamos a buscar el tweet mas similar con location completa,
#vamos a utilzar su location para completar el null de la otra location.
#para eso usamos embedding word2vec y la distancia entre vectores, la minima

In [74]:
!pip install gensim
from gensim.models import KeyedVectors

Requirement already satisfied: gensim in /usr/local/lib/python3.6/dist-packages (3.6.0)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from gensim) (1.18.5)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from gensim) (1.15.0)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.6/dist-packages (from gensim) (2.1.0)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.6/dist-packages (from gensim) (1.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim) (2.23.0)
Requirement already satisfied: boto in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim) (2.49.0)
Requirement already satisfied: boto3 in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim) (1.14.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim) (2020.6.20)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim) (0.3.3)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim) (0.10.0)
Requirement already satisfied: botocore<1.18.0,>=1.17.30 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim) (1.17.30)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.6/dist-packages (from botocore<1.18.0,>=1.17.30->boto3->smart-open>=1.2.1->gensim) (2.8.1)
Requirement already satisfied: docutils<0.16,>=0.10 in /usr/local/lib/python3.6/dist-packages (from botocore<1.18.0,>=1.17.30->boto3->smart-open>=1.2.1->gensim) (0.15.2)

In [75]:
!wget -P /root/input/ -c "https://s3.amazonaws.com/dl4j-distribution/GoogleNews-vectors-negative300.bin.gz"

--2020-08-02 18:01:02--  https://s3.amazonaws.com/dl4j-distribution/GoogleNews-vectors-negative300.bin.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.82.134
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.82.134|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1647046227 (1.5G) [application/x-gzip]
Saving to: ‘/root/input/GoogleNews-vectors-negative300.bin.gz’

GoogleNews-vectors- 100%[===================>]   1.53G  86.4MB/s    in 23s

2020-08-02 18:01:25 (69.0 MB/s) - ‘/root/input/GoogleNews-vectors-negative300.bin.gz’ saved [1647046227/1647046227]

In [76]:
EMBEDDING_FILE = '/root/input/GoogleNews-vectors-negative300.bin.gz' # from above
word2vec = KeyedVectors.load_word2vec_format(EMBEDDING_FILE, binary=True)

/usr/local/lib/python3.6/dist-packages/smart_open/smart_open_lib.py:254: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [ ]:
#si queremos hacer el test, poner  data=location_complete_with_tweet_test

In [ ]:
#el pongo este nombre porque asi lo utilice para probar esta funcionablidad, pero  el 
#dataset ya esta completo con localizaciones unificadas y locationes que estaba nullos 
#completadas con valores de su tweet de locationes.
data=location_complete_with_tweet

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          3263 non-null   int64
 1   keyword     3237 non-null   object
 2   location    2337 non-null   object
 3   text        3263 non-null   object
 4   clean_text  1105 non-null   object
dtypes: int64(1), object(4)
memory usage: 127.6+ KB

In [ ]:
#vemos que hay 2533 nullos en location, puede ser peligroso aproximar esa cantidad
#asi que seguramente aproxime unos 500 localizaciones
data[data['location'].isna()==True].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 926 entries, 2158 to 3261
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          926 non-null    int64
 1   keyword     904 non-null    object
 2   location    0 non-null      object
 3   text        926 non-null    object
 4   clean_text  926 non-null    object
dtypes: int64(1), object(4)
memory usage: 43.4+ KB

In [ ]:
data[data['location'].notnull()==True].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2337 entries, 0 to 3262
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          2337 non-null   int64
 1   keyword     2333 non-null   object
 2   location    2337 non-null   object
 3   text        2337 non-null   object
 4   clean_text  179 non-null    object
dtypes: int64(1), object(4)
memory usage: 109.5+ KB

In [80]:
def completar_location_by_similiaridad_tweet(data):
    sacar_columnas_usuales_final=data.groupby('location').agg(cantidad=('location','count')).nlargest(30,'cantidad')[:50]
    sacar_columnas_usuales_final=list(sacar_columnas_usuales_final.index)
    #esas columnas mas usuales son para que filtre el dataset, y entonces el ciclo sesa mas corto
    data_sin_null_location=data[data['location'].isin(sacar_columnas_usuales_final)==True]
    data_sin_null_location=data_sin_null_location[data_sin_null_location['location'].notnull()==True]
    #vamos aproximar una cantidad de 10% de valores nullos de location(esto podriamos variar,a mas o menos porcentaje si queremos)
    #total_de_nullos_a_completar=total_nullos*10/100  

    #total_de_nullos_a_completar=total_nullos*10/100
    total_de_nullos_a_completar=data[data['location'].isna()==True]['id'].count()*5/100
    total_de_nullos_a_completar=int(total_de_nullos_a_completar)

    #vamos agarrar solo 200 para predecir y completar
    data_with_null_location=data[data['location'].isna()==True][:total_de_nullos_a_completar]

    #en estos for comparo similaridad entre documento mediante word2vec, esto lo hace por distancia
    #vectorial

    acumlisttweetsimilar=list()
    acumidlisttweetsimilar=list()


    for i in range(len( data_with_null_location['text'])):
      distanciaminima=10000
    
      
      for j in range(len( data_sin_null_location['text'])):
        
        distancia_entre_vectores=word2vec.wmdistance(data_sin_null_location['text'].iloc[j], data_with_null_location['text'].iloc[i])
        
        if(distanciaminima>distancia_entre_vectores):
          distanciaminima=distancia_entre_vectores
        
          indexsinnull=j
          indexconnull=i
    
        if(j==(len( data_sin_null_location['text'])-1)) :
          idconnull=data_with_null_location['id'].iloc[indexconnull]
          idsinnull=data_sin_null_location['id'].iloc[indexsinnull]
          acumlisttweetsimilar.append( (data_sin_null_location['text'].iloc[indexsinnull], data_with_null_location['text'].iloc[indexconnull]))
          acumidlisttweetsimilar.append((data_sin_null_location['id'].iloc[indexsinnull],data_with_null_location['id'].iloc[indexconnull]))
          data_with_null_location.loc[data_with_null_location['id']==idconnull , 'location'] =list(data_sin_null_location.loc[data_sin_null_location['id']==idsinnull , 'location'])
          print(j)

    #aca vemos cuales fueron los tweet similares,descomentar para verlo
    #acumlisttweetsimilar[:5] 

    #aca las id de los tweet similares,descomentar para verlo
    #acumidlisttweetsimilar#(#sin, #con)     

    data_with_null_location_quedaron_sin_rellenar=data[data['location'].isna()==True][total_de_nullos_a_completar:]
    data_loca_relleandos=data_with_null_location
    data_null_and_fill_location=data_loca_relleandos.append(data_with_null_location_quedaron_sin_rellenar)
    #agarramos el dataset original con las unificaciones del paso 1 y 2, para despues agregar
    #el dataframe anterior
    data_sin_nullos_original=data[data['location'].isna()==False]

    data_parte3=data_sin_nullos_original.append(data_null_and_fill_location)
    return  data_parte3

In [81]:
#vamos a agregar locaciones a el train
data=location_complete_with_tweet

In [83]:
train_parte_3=completar_location_by_similiaridad_tweet(data)

2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189
2189

In [85]:
train_parte_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7613 entries, 0 to 7611
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          7613 non-null   int64
 1   keyword     7552 non-null   object
 2   location    5610 non-null   object
 3   text        7613 non-null   object
 4   target      7613 non-null   int64
 5   clean_text  7613 non-null   object
dtypes: int64(2), object(4)
memory usage: 416.3+ KB

In [87]:
location_complete_with_tweet_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          3263 non-null   int64
 1   keyword     3237 non-null   object
 2   location    2337 non-null   object
 3   text        3263 non-null   object
 4   clean_text  3263 non-null   object
dtypes: int64(1), object(4)
memory usage: 127.6+ KB

In [88]:
data=location_complete_with_tweet_test

In [89]:
test_parte_3=completar_location_by_similiaridad_tweet(data)

930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930
930

In [90]:
#csv de train y test con locaciones completadas con tweet similares a ellos.
from google.colab import files
train_parte_3.to_csv('train_uni_loca_3.csv') 
files.download('train_uni_loca_3.csv')

test_parte_3.to_csv('test_uni_loca_3.csv') 
files.download('test_uni_loca_3.csv')